/*To jest nasz główny plik CSS. Pliki CSS (cascade style sheet) to arkusze stylizowania naszych stron WWW.
  Zastosowanie ich pozwala na niezależną modyfikację wyglądu strony WWW bez jakiejkolwiek modyfikacji w sam układ/szablon
  języka HTML. 
*/

/* selektor (selector) - sposób wskazania elementu(ów) HTML dla CSS, które mają zostać zmienione/zmodyfikowane.
						Selektorami mogą być zarówno same znaczniki (jak np. h1, p czy div), mogą być identyfikatory (wartość
						atrybutu id, jak np. "main", "przycisk1" itp.), klasy (wartość atrybutu class, jak np. "przyciski", 
						"elementListy" itp.), a także ich miks (np. div#main, li.elementListy, #main selction itp.). 
*/
nav {
	display: grid;
	grid-template-columns: calc( 100% / 3 * 2) calc( 100% / 3);
	/*grid-template-columns: 66.6666666666% 33.3333333333%;*/
}

nav section:first-child {
	grid-column: 1;
	display: flex;
}

nav section:last-child {
	grid-column: 2;
}	

.przycisk {
	position: relative;
	width: 25%;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	/*background: orange;*/
	border: 1px solid darkorange;
	border-radius: 10px;
	overflow: hidden;
	/*border-color:
	border-width:
	border-style:*/
}

.przycisk::before {
	position: absolute;
	content: '';
	background: orange;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.przycisk:hover::before{
	opacity: 0.1;
}



h1 {
	color: blue;
}

#grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2,auto);
}

main {
	grid-row: 1;
	grid-column: 1 / 4;
}

aside {
	grid-row: 1;
	
}

footer {
	grid-row: 2;
	grid-column: 1 / 5;
	display: flex;
}

footer section {
	width: 50%;
}