<p>Poniżej przedstawiamy nasze ceny</p>
<table>
	<tbody>
		<tr>
			<td>1</td>
			<td>Pozycja 1</td>
			<td>24,87</td>
			<td>12%</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Pozycja 2</td>
			<td>187,87</td>
			<td>8%</td>
		</tr>
		<tr>
			<td>3</td>
			<td>Pozycja 3</td>
			<td>246,87</td>
			<td>23%</td>
		</tr>
		<tr>
			<td>4</td>
			<td rowspan="2">Pozycja 3</td>
			<td rowspan="2">12,87</td>
			<td>7%</td>
		</tr>
		<tr>
			<td>5</td>
			<td>23%</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">Podsumowanie</td>
			<td>(Kwota)</td>
	</tfoot>
	<thead>
		<tr>
			<th>LP</th>
			<th>Nazwa</th>
			<th>Cena (zł)</th>
			<th>VAT</th>
		</tr>
	</thead>
</table>