<!-- <form method="post" action=""> -->
<div id="formularz">
	<input type="text" name="imie" placeholder="Wpisz swoje imię"/>
	<input type="text" name="email"/>
	<select name="temat">
		<option value="1">Zgłoszenie pomysłu</option>
		<option value="2">Zgłoszenie problemu</option>
		<option value="3">Pozostałe</option>
	</select>
	<textarea name="tresc">aaaa+bbbbb&amp;Tst</textarea>
	
	<div class="przycisk"><p>Prześlij formularz</p></div>
</div>	
	<!-- <button>Wyślij</button>
	<input type="submit" value="Prześlij"/>
	<input type="reset" value="Wyzeruj"/> -->
<!-- </form> -->